<div class="row">
 <div class="col-xs-12">
     <form action="">
        <div class="row">
            
            <div class="col-sm-5 form-froup">
                <label for="name">Name</label>
                <input type= "text" id="name" class="form-control"></div>
        
                <div class="col-sm-2 form-froup"style="margin-bottom:4px;">
                    <label for="amount">Amount</label>
                    <input type= "text" id="amount" class="form-control"></div></div>

                    <div class="row">
                        <div class="col-xs-12">
                            
                                <button class="btn btn-success" type="submit"style="margin:0px 2px;">Add</button>
                                <button class="btn btn-danger" type="button"style="margin:0px 2px;">Delete</button>
                                <button class="btn btn-primary" type="button"style="margin:0px 2px;">Clear</button>
                            

                            
                        </div>
                    </div>
                </form>
 </div>   
</div>
