@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {box-sizing: border-box;
}html {
  font-family: sans-serif;height: 100%;}a {
  background-color: transparent}
img {max-width: 100%;vertical-align: middle;display: inline-block}
.lineblock {max-width: 100%;display: inline-block;
}.w-button {display: inline-block;padding: 9px 15px;background-color: #3898EC;color: white;border: 0;line-height: inherit;text-decoration: none;cursor: pointer;border-radius: 0
}h1, h2, h3, h4, h5, h6 {font-weight: bold;margin-bottom: 10px
}h1 {font-size: 38px;line-height: 44px;margin-top: 20px}
h2 {font-size: 32px;line-height: 36px;margin-top: 20px;
}h3 {font-size: 24px;line-height: 30px;margin-top: 20px
}h4 {font-size: 18px;line-height: 24px;margin-top: 10px;
}h5 {font-size: 14px;line-height: 20px;margin-top: 10px
}h6 {font-size: 12px;line-height: 18px;margin-top: 10px
}p {margin-top: 0;margin-bottom: 10px
}ul, ol {margin-top: 0;margin-bottom: 10px;padding-left: 40px
}.w-list-unstyled {
  padding-left: 0;
  list-style: none
}.w-input {display: block;width: 100%;height: 38px;padding: 8px 12px;margin-bottom: 10px;font-size: 14px;line-height: 1.42857143;color: #333333;background-color: #ffffff;border: 1px solid #cccccc;
}.w-input:focus {border-color: #3898EC;outline: 0
}textarea.w-input {height: auto
}.containerw {margin-left: auto;margin-right: auto;max-width: 940px
}.containerw:before, .containerw:after {content: " ";display: table;grid-column-start: 1;grid-row-start: 1;grid-column-end: 2;grid-row-end: 2
}.containerw:after {
  clear: both
}.containerw .roww {
  margin-left: -10px;
  margin-right: -10px
}.roww:before, .roww:after {content: " ";display: table;grid-column-start: 1;grid-row-start: 1;grid-column-end: 2;grid-row-end: 2
}.roww:after {
  clear: both
}.roww .roww {
  margin-left: 0;
  margin-right: 0
}
.coll {position: relative;float: left;min-height: 1px;
  padding-left: 10px;padding-right: 10px;
}

.coll .coll {
  padding-left: 0;
  padding-right: 0
}.coll-1 {
  width: 8.3%;}.coll-2 {  width: 16.6%;}.coll-3 {width: 25%;}.coll-4 {width: 33.3%;}.coll-5 {  width: 41.6%;}.coll-6 {  width: 50%;}.coll-7 {  width: 58.3%;}.coll-8 {
  width: 66.6%;
}.coll-9 {width: 75%;}.coll-10 {width: 83.3%;}.coll-11 {
  width: 91.6%;
}.coll-12 {
  width: 100%;
}


.wdropdown {
  display: inline-block;
  position: relative;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  z-index: 900
}

.wdropdown-toggle, .wdropdown-link {
  
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
  position: relative;
  vertical-align: top;
  text-decoration: none;
  color: #222222;
  padding: 20px;
}

.dropdowntoggle {
  
  display: inline-block;
  cursor: pointer;
  padding-right: 40px
}

.icontoggle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-right: 20px;
  width: 1em;
  height: 1em
}

.wdropdownlist {
  position: absolute;
  background: #dddddd;
  display: none;
  min-width: 100%
}

.wdropdownlist.w--open {
  display: block
}

.wdropdown-link {
  padding: 10px 20px;
  display: block;
  color: #222222
}

.wdropdown-link.current {
  color: #0082f3
}

.nav {
  position: relative;
  
  z-index: 1000;
}

.nav:before, .nav:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2
}

.nav:after {
  clear: both
}

.navbrand {
  position: relative;
  float: left;
  text-decoration: none;
  color: #333333
}

.top-link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: #222222;
  padding: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto
}

.top-link.current {
  color: #0082f3
}

.topmenu {
  position: relative;
  float: right
}

.nav-button {
  position: relative;
  float: right;
  padding: 18px;
  font-size: 24px;
  display: none;
  cursor: pointer;
 
}

.nav-button.w--open {
  background-color: #C8C8C8;
  color: white
}

.w--nav-dropdown-open {
  display: block
}

.w--nav-dropdown-toggle-open {
  display: block
}

.w--nav-dropdownlist-open {
  position: static
}



body {
  margin-top: 2%;
  margin-right: 2%;
  margin-left: 2%;
  font-family: 'Dosis', sans-serif;
  color: #121213;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 600;
  text-transform: uppercase;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 600;
  text-transform: uppercase;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  text-transform: uppercase;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: 0px;
  text-transform: uppercase;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

p {
  margin-bottom: 10px;
  font-family: Dosis, sans-serif;
  color: #919197;
  font-size: 17px;
  line-height: 25px;
}

blockquote {
  display: flex;
  width: 70%;
  min-height: 150px;
  margin-bottom: 10px;
  padding: 10px 37px;
  
  align-items: center;
  border-left: 1px none #000;
  background-image: linear-gradient(284deg, #ff6361, #e47312);
  color: #fff;
  font-size: 26px;
  line-height: 32px;
  font-weight: 300;
}

figure {
  margin-top: 20px;
  margin-bottom: 20px;
}

.pagelayout {
 
  align-items: center;
  background-color: #c1c3cc;
  background-image: linear-gradient(76deg, rgba(193, 195, 204, 0.83) 35%, rgba(293, 195, 204, 0.28) 65%), url("https://nuuk-e3eaa.firebaseapp.com/assets/img/slide-2.jpg");
  background-position: 0px 0px, 50% 0%;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
  position: relative;
  display: flex;
   height: 85vh;
   padding-right: 5%;
   padding-left: 5%;
   flex-direction: row;
}

.group {
  padding: 10% 5%;
}

.group.gray {
  background-color: #f7f8fc;
}

.group.gray.small {
  padding: 8% 0% 20px 20px;
}

.group.add5percent {
  padding-top: 15%;
  padding-bottom: 5%;
}

.group.color {
  padding-top: 7%;
  padding-bottom: 7%;
  background-color: #e47312;
  background-image: linear-gradient(72deg, #e47312, rgba(255, 99, 97, 0.78)), url("../img/pagelayout-2.jpg");
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
}

.group.logo {
  padding-top: 3%;
  padding-bottom: 3%;
  background-image: linear-gradient(56deg, #e47312, #ff6361);
}

.group.for-project {
  margin-right: -20px;
  padding: 0px 0px 20px;
  background-color: #fff;
}

.group._0-top {
  padding-top: 0%;
}

.group.for-changelog {
  padding-top: 5%;
  padding-bottom: 5%;
}

.container {
  max-width: 1200px;
  
  flex: 1;
}

.container._2-down {
  margin-top: 100px;
}

.navigation {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
 
  display: flex;
  width: 90%;
  margin-top: 2%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0%;
  padding-left: 0%;
 
  justify-content: space-between;
  
 
 
  align-items: center;
  background-color: #fff;
}

.brand {
  position: absolute;
 
  display: flex;
  height: 110px;
  padding-right: 35px;
  padding-left: 35px;
  
  justify-content: center;
  
  align-items: center;
 
  
  background-color: #e47312;
}

.brand.normal {
  position: relative;
}

.topmenu {
  display: flex;
 align-items: center;
 align-self: stretch;
 
}

.top-link {
  position: relative;
  display: inline-block;
  padding: 31px 14px;
 
  
  
  justify-content: center;
  
 
 
  align-items: center;
  color: #414147;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .2s;
}

.top-link.current {
  color: #e47312;
}

.top-link:hover {
  color: #e47312;
}

.top-link.drop {
  
  display: flex;
}

.top-link::before {
  content: '';
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  width: 1px;
  height: 0;
  margin-right: auto;
  margin-left: auto;
  background-color: #e47312;
  transition: .2s;
}

.top-link::after {
  content: '';
  position: absolute;
  left: 0%;
  right: 0%;
  bottom: 0%;
  width: 1px;
  height: 0;
  margin-right: auto;
  margin-left: auto;
  background-color: #e47312;
  transition: .2s;
}

.top-link:hover::before, .top-link:hover::after {
  height: 30px;
}

.navtext {
  position: relative;
  z-index: 1;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #fff;
}

.icon {
  display: none;
}

.arrow-image {
  position: relative;
  z-index: 1;
  width: 6px;
  margin-left: 7px;
}

.dropdownlist {
  background-color: #fff;
}

.dropdownlist.w--open {
  min-width: 150px;
  padding: 9px 13px;
}

.dropdown-link {
  color: #717177;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.dropdown-link:hover {
  background-color: #f1f1f7;
  color: #e47312;
}

#ddownitem:hover .wdropdownlist {
  display: block;
  min-width: 150px;
  padding: 9px 13px;
}

.alllwrapper {
  height: 100%;
  position:absolute;
  margin-left: 20px;
  padding: 34px 28px 31px;
  background-color: #e47312;
 
  transition: all 300ms ease;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  width:40%;
  
  right:-90%;
}

.alllwrapper:hover {
  background-color: #e98a38;
  transform:scale(1.1,1.1);
}
.info-big-wrapper {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 9999;
  display: none;
}

.info-big-overlay {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  background-color: rgba(0, 0, 0, 0.2);
}

.info-left-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 500px;
  z-index: 10000;
  padding: 95px 50px 35px 70px;
  background-color: #fff;
  transform: translateX(100%);
  transition: all .2s ease-out;
}

.top-margin {
  margin-top: 50px;
}

.top-margin.half {
  margin-top: 25px;
}

.top-margin.half.flex {
  
  display: flex;
  margin-top: 30px;
}

.toptitleincluder {
  position: relative;
  
  display: flex;
  margin-bottom: 7%;
 
  justify-content: space-between;
  
 
 
  align-items: center;
}

.toptitleincluder.center {
justify-content: center;
}

.toptitleincluder.center.vertical {
  margin-bottom: 0%;
 
  flex-direction: column;
}

.toptitleincluder.more {
  margin-bottom: 15%;
}

.features-wrapper {
  position: absolute;
  left: auto;
  top: auto;
  right: -2.5%;
  bottom: -83px;
  
  display: flex;
  width: 1000px;
  padding: 15px 100px 5px 50px;
  background-color: #e47312;
  background-image: linear-gradient(186deg, #e47312, #ff6361);
}

.info-flex {
  z-index: 1;
  
  display: flex;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;

  align-items: flex-start;
}

.infochild {
  display: flex;padding-top: 10px;flex-direction: column;justify-content: center;align-items: center;flex: 1;
}

.infochild.horizontal {
  margin-bottom: 15px;
  padding-top: 0px;
  flex-direction: row;
 justify-content: flex-start;
  align-items: flex-start;
}

.over-image {
  width: 24px;
  margin-bottom: 15px;
}

.over-image.left {
  width: 20px;
  margin-right: 15px;
  margin-bottom: 0px;
}

.moble-text {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.para-white {
  margin-bottom: 5px;
  color: hsla(0, 0%, 100%, 0.7);
}

.para-white.bigger {
  margin-top: 10px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 300;
}

.para-white.bigger.normal {
  font-weight: 400;
}

.para-white._100 {
  color: #fff;
}

.upper-heading {
  position: relative;
  z-index: 2;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 42px;
  line-height: 50px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.upper-heading.absolute {
  position: absolute;
  left: -53px;
  top: -26px;
  z-index: 1;
  color: rgba(241, 241, 247, 0.4);
  font-size: 120px;
  letter-spacing: 11px;
}

.upper-heading.absolute._75-percent {
  color: rgba(241, 241, 247, 0.75);
}

.upper-heading.absolute.in-form {
  left: -17px;
  font-size: 100px;
}

.upper-heading.absolute.also-center {
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
  -ms-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
}

.upper-heading.white {
  color: #fff;
}

.upper-heading.white.big {
  color: #e47312;
  font-size: 50px;
  line-height: 60px;
}

.upper-heading.smaller-backgr {
  margin-right: 60px;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  color: #fff;
  font-size: 15px;
  line-height: 20px;
}

.upper-heading.smaller-backgr.in-footer {
  margin-bottom: 30px;
  padding-right: 14px;
  background-color: #0a1229;
}

.upper-heading.smaller-backgr.blog {
  margin-right: 0px;
  margin-bottom: 15px;
  font-size: 19px;
  line-height: 26px;
}

.upper-heading.smaller-backgr.no-width {
  display: none;
  margin-right: 0px;
}

.upper-heading._30px {
  font-size: 30px;
  line-height: 40px;
}

.upper-heading.small-version {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 30px;
}

.upper-heading.on-pagelayout {
  color: #fff;
  font-size: 62px;
  line-height: 70px;
}

.features-icon {
  margin-bottom: 20px;
}

.formtitle {
  margin-top: 0px;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.formtitle.team {
  line-height: 20px;
}

.service-content {
  margin-bottom: 5%;
  padding-right: 5%;
}

.margin-page {
  margin-top: 15%;
}

.margin-page._10-percent {
  margin-top: 10%;
}

.textblock {
  line-height: 16px;
}

.navlink.lol-button.blue.lineblock {
  position: relative;
}

.navlink.lol-button.blue.lineblock::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  background-color: hsla(0, 0%, 100%, 0.3);
  transition: .2s;
}

.navlink.lol-button.blue.lineblock:hover::after {
  background-color: #e47312;
}

.navlink {
  overflow: hidden;
  margin-left: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #121217;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.navlink.lol-button {
  margin-top: 15px;
  margin-left: 0px;
  padding-top: 0px;
  padding-bottom: 5px;
  color: #fff;
}

.navlink.lol-button.blue {
  color: #919198;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navlink.lol-button.blue._0 {
  margin-top: 0px;
}

.navlink.lol-button.blue.white {
  color: #fff;
}

.navlink.lol-button.blue.white.for-footer {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 13px;
}

.navlink.lol-button.blue.white.for-footer.in-sidebar {
  margin-bottom: 0px;
  margin-left: 18px;
  color: #414147;
}

.navlink.lol-button {
  position: relative;
}

.navlink.lol-button::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  z-index: 100;
  background-color: hsla(0, 0%, 100%, 0.3);
  transition: .2s;
}

.navlink.lol-button:hover::after {
  background-color: white;
}

.navlink.lol-button.blue.white.for-footer.lineblock {
  position: relative;
}

.navlink.lol-button.blue.white.for-footer.lineblock::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  background-color: transparent;
  transition: .2s;
}

.navlink.lol-button.blue.white.for-footer.lineblock:hover::after {
  background-color: white;
}

.navlink.lol-button.blue.white.lineblock:hover::after {
  background-color: white;
}

.navlink.lol-button.blue.white.lineblock {
  position: relative;
}

.navlink.lol-button.blue.white.lineblock::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  background-color: transparent;
  transition: .2s;
}

.navlink.lol-button.blue.white.lineblock:hover::after {
  background-color: white;
}

.navlink.lol-button.blue.white.not-link {
  display: inline-block;
}

.padding-right {
  padding-left: 100px;
}

.padding-right.left {
  padding-right: 100px;
  padding-left: 0px;
}

.horizontal-flex{
  
  display: flex;
  
 
 
  align-items: center;
}

.fun-facts {
  padding-right: 40%;
}

.fun-text {
  margin-bottom: 10px;
  color: #e47312;
  font-size: 60px;
  line-height: 70px;
  font-weight: 500;
}

.iconss-vertical {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 143px;
 
  display: flex;
  padding: 10px;
 
  flex-direction: column;
  background-color: #0a1229;
}

.iconss-vertical.horizontal {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
 
  flex-direction: column;
  background-color: #e47312;
}

.iconf {
  
  display: flex;
  width: 40px;
  height: 50px;
  float: left;
 
  
  
  justify-content: center;
  
 
 
  align-items: center;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.14);
}

.iconf.no-bottom {
  border-bottom-style: none;
}

.layout {
  overflow: hidden;
}

.teamwrapper {
  position: relative;
  width: 95%;
}

.pic {
  min-height: 300px;
  background-image: url("https://nuuk-e3eaa.firebaseapp.com/assets/img/team-1.jpg");
  background-position: 50% 0%;
  background-size: cover;
  background-repeat: no-repeat;
}
.pic:hover{
  transform: scale(1.2,1.2);
}

.pic._2 {
  background-image: url("https://nuuk-e3eaa.firebaseapp.com/assets/img/team-2.jpg");
}

.pic._3 {
  background-image: url("https://nuuk-e3eaa.firebaseapp.com/assets/img/team-3.jpg");
}

.pic._4 {
  background-image: url("https://nuuk-e3eaa.firebaseapp.com/assets/img/team-4.jpg");
}

.team-content {
  padding: 29px 66px 29px 29px;
  background-color: #fff;
}

.job-title {
  margin-bottom: 0px;
  color: #bdbdc9;
  font-size: 16px;
}

.testi-title {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.testimonials-photo {
  position: relative;
 
  display: flex;
  width: 60px;
  height: 60px;
  margin: -115px auto 25px;
 
  
  
  justify-content: center;
  
  align-items: stretch;
  border-radius: 100%;
  background-image: linear-gradient(8deg, #ff6361, #e47312);
  opacity: 1;
  color: #fff;
  font-size: 80px;
  line-height: 80px;
}

.testimonials-wrapper {
  position: relative;
  display: block;
  width: 90%;
  margin: 50px auto 61px;
  padding: 80px 30px 26px;
  background-color: #fff;
  text-align: center;
}

.testimonials-wrapper.no-margin {
  margin-bottom: 0px;
}

.testimonials-wrapper.move-down {
  margin-top: 151px;
}

.testimonial-paragraph {
  margin-top: 15px;
  margin-bottom: 0px;
  color: #919197;
}

.textblock-2 {
  padding-top: 12px;
}

.footer {
  position: relative;
  z-index: 1;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 70px;
  padding-right: 50px;
  padding-left: 50px;
  border-top: 1px solid #2f3038;
  background-color: #0a1229;
}

.tab-logo {
  width: 20%;
  min-height: 100px;
  background-color: transparent;
  background-image: url("https://nuuk-e3eaa.firebaseapp.com/assets/img/logo-5w.png");
  background-position: 50% 50%;
  background-size: 100px;
  background-repeat: no-repeat;
 
  transition: all 400ms ease;
  text-align: center;
}

.tab-logo:hover {
  opacity: 1;
  transform: scale(1.1,1.1);
}

.tab-logo.current {
  background-color: transparent;
  opacity: 1;
}

.tab-logo.logo-2 {
  background-image: url("https://nuuk-e3eaa.firebaseapp.com/assets/img/logo-2w.png");
  background-size: 100px;
}

.tab-logo.logo-2.current {
  background-color: transparent;
}

.tab-logo.logo-3 {
  background-image: url("https://nuuk-e3eaa.firebaseapp.com/assets/img/logo-3w.png");
  background-size: 100px;
}

.tab-logo.logo-4 {
  background-image: url("https://nuuk-e3eaa.firebaseapp.com/assets/img/logo-4w.png");
  background-size: 100px;
}

.tab-logo.logo-5 {
  background-image: url("https://nuuk-e3eaa.firebaseapp.com/assets/img/logo-1w.png");
  background-size: 100px;
}

.goto-flex {
 
  display: flex;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  
 
 
  align-items: center;
}

.groupeditem {
  padding-right: 0px;
  padding-left: 0px;
}

.project-wrapper {
  padding-top: 20px;
  padding-right: 20px;
  float: left;
}

.project-content {
  position: relative;
  overflow: hidden;
}
.linewith:hover{
  transform:scale(1.2,1.2)
}

.project-content:hover{
  transform: scale(1.2,1.2);
}
.project-overlay {
  position: absolute;left: 0%;top: 0%;right: 0%;bottom: 0%;display: flex; justify-content: center; align-items: center; background-color: rgba(0, 0, 0, 0.3); transition: .2s;
  opacity: 0;
}

.project-circle {
 
  display: flex;width: 90px;height: 90px;padding-right: 11px;padding-left: 11px;justify-content: center;align-items: center;border-radius: 100%;
  background-image: linear-gradient(59deg, #ff6361, #e47312);color: #fff;font-size: 12px;line-height: 18px;font-weight: 500;text-align: center;letter-spacing: 1px;
  text-decoration: none;text-transform: uppercase;
}

.groupeditem:hover .project-overlay, .groupeditem:hover .project-circle {
  opacity: 1;
}

.page {
  position: relative;
}

.footer-column {
  padding-right: 20%;
}

.linewith {
  position: relative;
display: flex;justify-content: flex-start;align-items: center;
}

.line {
  position: absolute;
  left: 0%;
  top: 8px;
  right: auto;
  bottom: auto;
  width: 100%;
  height: 1px;
  background-color: #ff6361;
}

.copyright-margin {
  margin-top: 80px;
}




.blog-wrapper {
 
  display: flex;
 
  flex-direction: column;
 
  justify-content: flex-start;
 
  align-items: flex-start;
  background-color: #fff;
  text-decoration: none;
}

.blog-wrapper.with-margin {
  margin-bottom: 20px;
}

.blog-image {
  position: relative;
  background-color: #5c5c5c;
}
.blog-image:hover{
  transform: scale(1.2,1.2);
}


.number {
  
  display: flex;
  width: 70px;
  height: 70px;
 
  
  
  justify-content: center;
  
 
 
  align-items: center;
  background-image: linear-gradient(45deg, #ff6361, #e47312);
  color: #fff;
  font-size: 26px;
  font-weight: 400;
}

.month {
  
  display: flex;
  width: 70px;
  height: 40px;
  
  justify-content: center;
 
 
  align-items: center;
  background-color: #fff;
  color: #9d9da5;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.tag {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
}

.blog-content {
  width: 100%;
  padding: 25px 56px 25px 30px;
  background-color: #e47312;
  background-image: linear-gradient(158deg, #e47312, #ff6361);
}




.button {
  display: inline-block;
  min-width: 160px;
  padding: 15px 25px;
 
  justify-content: center;
  border-radius: 30px;
  background-color: #fc493e;
 
  transition: all 2s ease;
  color: #fff;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}



.button.full {
  display: block;
  width: 100%;
  border-radius: 0px;
  background-color: #e47312;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.button.full:hover {
  background-color: #e98a38;
}

.button.full.not-full {
  width: auto;
  font-size: 12px;
}

.error-message {
  color: #fc493e;
  font-weight: 500;
  text-align: center;
}

.algin-center {
  position: relative;
  text-align: center;
}

.success-message {
  background-color: #5cbe7c;
  color: #fff;
  font-weight: 500;
}

.listbutton {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50px;
  height: 50px;
  margin-top: 0px;
  padding: 0px;
 
  flex-direction: column;
  
  justify-content: center;
 
  align-items: center;
 
  order: 1;
  
  
}

.listbutton.w--open {
  justify-content: center; align-items: center;
}

.hamburger-line {
  position: absolute;
  left: 50%;
  top: 50%;
  right: auto;
  bottom: auto;
  width: 50%;
  height: 2px;
  background-color: #000;
 
  
  transform: translate(-50%, -50%);
}

.hamburger-line {
  transition: .2s;
}

.hamburger-line:first-of-type {
  transform: translate(-50%, -4px);
}

.hamburger-line:last-of-type {
  transform: translate(-50%, 8px);
}

.w--open .hamburger-line:first-of-type {
  transform: translate(-50%, 0px) rotate(45deg)
}

.w--open .hamburger-line:last-of-type {
  transform: translate(-50%, 0px) rotate(-45deg);
}

.sub-pagelayout {
 
  display: flex;
  height: 400px;
  
  justify-content: center;
 
  align-items: center;
  background-color: #c1c3cc;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(55%, hsla(0, 0%, 100%, 0.71)), to(#fff)), url("../img/sub.jpg");
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.71) 55%, #fff), url("../img/sub.jpg");
  background-position: 0px 0px, 50% 100%;
  background-size: auto, cover;
}

.sub-pagelayout-info {
  text-align: center;
}

.utility-page-wrap {
 
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  
  justify-content: center;
 
  align-items: center;
  background-color: #fff;
}

.utility-page-content {

  display: flex;
  width: 320px;
 
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
 
  display: flex;
  
  flex-direction: column;
 
  align-items: stretch;
}

.service-flex {
  
  display: flex;
}

.sidebar {
  min-width: 350px;
  margin-right: 50px;
}

.sidebar.left {
  margin-right: 0px;
  margin-left: 50px;
}

.right-part {
  width: 100%;
}

.sidebar-wrapper {
  margin-bottom: 30px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-width: 1px;
  border-color: #e1e1e1;
}

.sidebar-wrapper.sticky {
 
  position: sticky;
  top: 20px;
}

.service-in-siderbar {
 
  display: flex;
  padding-top: 11px;
  padding-bottom: 11px;
 
  align-items: center;
  border-bottom: 1px solid #e1e1e1;
}

.image {
  width: 34px;
}

.image.small {
  width: 28px;
}

.project-image {
  margin-bottom: 50px;
}

.project-info {
 
  position: sticky;
  top: 20px;
  padding: 30px 30px 20px;
  background-color: #e47312;
  background-image: linear-gradient(41deg, #ff6361, #e47312);
}

.flex-details {
  
  display: flex;
  padding-top: 10px;
  padding-bottom: 0px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.28);
}

.flex-details.no-bottom {
  border-bottom-style: none;
}

.client-margin {
  margin-right: 5px;
  color: #fff;
}

.graident {
  background-image: linear-gradient(45deg, #ff6361, #e47312);
}

.pro-icon {
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
}

.column {
  display: none;
}

.top-margin-2 {
  margin-top: 30px;
}

.top-margin-2.more {
  margin-top: 40px;
}

.list-second-item {
  margin-bottom: 13px;
}

.circle-list {
  width: 12px;
  height: 12px;
  margin-right: 7px;
  background-image: url("../img/checkmark.svg");
  background-position: 0px 0px;
  background-size: contain;
  background-repeat: no-repeat;
}

.list-item-2 {
 
  display: flex;
  margin-bottom: 13px;
  
  justify-content: flex-start;
  
  align-items: center;
}

.paragraph-no-margin {
  margin-bottom: 0px;
  font-style: normal;
}

.list {
  padding-left: 16px;
  color: #e47312;
  list-style-type: square;
}

.rich-text-wrapper {
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.paragraph-percent {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.link-3 {
  color: #313131;
  text-decoration: none;
  cursor: pointer;
}

.link-3:hover {
  text-decoration: underline;
}

.top-margin-3 {
  margin-top: 20px;
}

.top-margin-3.little-more {
  margin-top: 30px;
}

.top-margin-3.in-blog-page {
  margin-top: 50px;
}

.link {
  display: inline-block;
  color: #8f872e;
  text-decoration: underline;
}

.link.color {
  color: #616167;
}

.licens-image {
  width: 100%;
}

.licens-image.with-icon {
  width: 15%;
  margin-right: 15px;
  margin-bottom: 10px;
}


@media screen and (max-width: 1000px) {
  body {
    margin-top: 0%;
    margin-right: 0%;
    margin-left: 0%;
  }
  .containerw {
    max-width: 800px
  }
  blockquote {
    width: 100%;
  }
  .pagelayout {
    height: 800px;
  }
  .group.logo {
    padding-top: 5%;
    padding-bottom: 2%;
  }
  .group.for-project {
    margin-right: 0px;
    padding-left: 20px;
  }
  .container._2-down {
    margin-top: 45px;
  }
  .container.intopagelayout {
    margin-top: -150px;
  }
  .navigation {
    width: 100%;
    margin-top: 0%;
  }
  .brand {
    height: 60px;
  }
  .brand.normal.current {
    margin-bottom: 10px;
  }
  .topmenu {
    
    flex-direction: column;
    background-color: #fff;
    align-items: start;
  }
  .top-link {
  
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    
    justify-content: flex-start;
  }
  .top-link.drop {
   
    flex-direction: row;
  }
  .navtext {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .nav-button {
    display: block;
    height: 60px;
    margin-right: 15px;
  }
  .topmenu {
    display: flex;
   
    flex-direction: column;
    background-color: #fff;
    margin-top: 60px;
    width: 100%;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: .4s linear;
  }
  .m--open.topmenu {
    height: 356px;
    opacity: 1;
    overflow: visible;
  }
  .topmenu .free-quote {
    width: 100%;
    text-align: center;
  }
  .wdropdown {
    margin: unset;
    width: 100%;
  }
  .wdropdownlist {
    position: unset;
    height: 0;
    opacity: 0;
  }
  .wdropdown:hover .wdropdownlist {
    height: auto;
    opacity: 1;
  }
  .arrow-image {
    display: none;
    max-width: none;
  }
  .alllwrapper {
    display: block;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .alllwrapper.for-x {
    display: block;
  }
  .info-left-wrapper {
    width: 100%;
    padding-top: 30px;
  }
  .toptitleincluder.add-20-right {
    padding-right: 20px;
  }
  .features-wrapper {
    right: auto;
    bottom: 0px;
    width: 100%;
    padding-right: 22px;
    padding-left: 0px;
  }
  .upper-heading {
    font-size: 32px;
    line-height: 40px;
  }
  .upper-heading.absolute {
    left: -7px;
    font-size: 80px;
  }
  .upper-heading.white.big {
    font-size: 30px;
    line-height: 40px;
  }
  .upper-heading.smaller-backgr.no-width {
    display: block;
  }
  .upper-heading.smaller-backgr.none-mobile {
    display: none;
  }
  .upper-heading.on-pagelayout {
    font-size: 50px;
    line-height: 60px;
  }
  .padding-right {
    padding-left: 0px;
  }
  .padding-right.left {
    padding-right: 0px;
  }
  .row-flex.verical {
   
    flex-direction: column;
  }
  .fun-facts {
    padding-right: 10%;
  }
  .iconss-vertical {
    bottom: 227px;
  }
  .teamwrapper {
    width: 100%;
  }
  .pic {
    min-height: 200px;
  }
  .testimonials-wrapper.move-down {
    margin-top: 50px;
  }
  .testimonials-wrapper.add-only-0 {
    margin-top: 0px;
  }
  .margin-device {
    margin-top: 100px;
  }
  .footer {
    width: 100%;
    padding-right: 25px;
    padding-bottom: 20px;
    padding-left: 25px;
  }
  .tab-logo {
    width: 33.333%;
    min-height: 100px;
  }
  .left-copyright-flex {
    padding-left: 10px;
    
    flex-direction: column;
   
    align-items: flex-start;
  }
  .left-copyright-flex.right {
   
    align-items: flex-start;
  }
  .copyright {
    margin-bottom: 7px;
  }
  .made-with-webflow.left-margin {
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .blog-content {
    padding-right: 23px;
  }
  .shape-image {
    margin-bottom: 84px;
  }
  .listbutton {
    height: 60px;
    width: 100%;
    background-color: white;
    z-index: -1;
    margin: 0;
  }
  .listbutton.w--open {
    background-color: transparent;
  }
  .hamburger-line {
    left: unset;
    top: 50%;
    right: 0;
    width: 30px;
  }
  .sub-pagelayout {
    height: 200px;
  }
  .utility-page-wrap {
    height: 700px;
  }
  .service-flex {
   
    flex-direction: column;
  }
  .sidebar {
    margin-right: 0px;
  }
  .sidebar.left {
    margin-top: 30px;
    margin-left: 0px;
  }
  .sidebar-wrapper.sticky {
    position: relative;
    top: 0px;
  }
  .project-info {
    position: relative;
    top: 0px;
  }
  .column {
    display: none;
  }
  .rich-text-wrapper {
    width: 100%;
  }
  .paragraph-percent {
    width: 100%;
  }
  .licens-image {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 767px) {
  .pagelayout {
    background-size: auto, cover;
  }
  .group.gray.small {
    padding-top: 11%;
    padding-right: 5%;
    padding-left: 5%;
  }
  .group.for-project {
    padding-right: 20px;
  }
  .brand.normal.current {
    margin-bottom: 0px;
  }
  .info-left-wrapper {
    width: 100%;
  }
  .top-margin.no-mobile {
    margin-top: 0px;
  }
  .toptitleincluder.add-20-right {
    padding-right: 0px;
  }
  .features-wrapper {
    padding-right: 0px;
  }
  .infochild {
    padding-top: 0px;
    padding-right: 18px;
    padding-left: 18px;
    text-align: center;
  }
  .infochild.horizontal.no-center {
    text-align: left;
  }
  .upper-heading {
    font-size: 26px;
    line-height: 30px;
  }
  .upper-heading.absolute {
    font-size: 60px;
  }
  .upper-heading.smaller-backgr.no-width {
    margin-bottom: 10px;
  }
  .upper-heading.on-pagelayout {
    font-size: 40px;
    line-height: 50px;
  }
  .service-content {
    margin-bottom: 40px;
  }
  .row-flex.verical.reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .fun-facts {
    margin-bottom: 26px;
  }
  .iconss-vertical {
    bottom: 240px;
  }
  .teamwrapper {
    margin-bottom: 30px;
  }
  .pic {
    min-height: 300px;
  }
  .footer {
    padding-bottom: 0px;
  }
  .goto-flex {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
  }
  .project-wrapper {
    padding-right: 0px;
  }
  .footer-column {
    margin-bottom: 39px;
    padding-right: 0%;
  }
  .copyright-margin {
    margin-top: 20px;
  }
  .left-copyright-flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .left-copyright-flex.right {
    margin-bottom: 20px;
    padding-left: 0px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    
   
   
    align-items: center;
  }
  .copyright {
    margin-bottom: 0px;
  }
  .made-with-webflow.left-margin {
    margin-left: 15px;
  }
  .blog-wrapper {
    margin-bottom: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .project {
    margin-top: 20px;
  }
  .project-image {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 500px) {
  blockquote {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .coll {
    width: 100%
  }
  .pagelayout {
    height: 500px;
  }
  .group.logo {
    padding-top: 15%;
  }
  .container._2-down {
    margin-top: 65px;
  }
  .container.intopagelayout {
    margin-top: 24px;
    padding-right: 35px;
  }
  .info-left-wrapper {
    padding-top: 35px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .toptitleincluder {
    margin-bottom: 15%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .features-wrapper {
    display: none;
  }
  .upper-heading {
    margin-bottom: 9px;
  }
  .upper-heading.absolute {
    display: none;
  }
  .upper-heading.white.big {
    margin-bottom: 0px;
  }
  .upper-heading.on-pagelayout {
    font-size: 40px;
    line-height: 42px;
  }
  .iconss-vertical {
    left: auto;
    top: auto;
    right: 0%;
    bottom: 0%;
  }
  .footer {
    padding-top: 10%;
    padding-right: 5%;
    padding-left: 5%;
  }
  .tab-logo {
    width: 100%;
  }
  
}