.maindisplay {
    background: lightgrey;
    height: 100px ;
    padding: 5% !important;
    font-size: 4rem;
    text-align: right;
    font-family: Courier, monospace;
    overflow: auto;
}
.subdisplay {
    border-bottom: 1px solid black;
    height: 25%;
    font-size: 2rem;
    overflow: auto;
}
.keypad {
    height:500px;
    width:500px;
    margin:0px 25%;

}
.keys {
    margin: 0;
    width: 25%;
    height: 20%;
    background: whitesmoke;
    color: black;
    padding: 5%;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
}
.one-line {
    display: inline-block;
}
