<h4 class="text-center">Angular Services</h4>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink=""
      >List Employee</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/edit-emp"
      >Edit Employee</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/add-emp"
      >Add Employee</a
    >
  </li>
</ul>

<!-- <app-list-emp></app-list-emp>
<app-add-emp></app-add-emp>
<app-edit-emp></app-edit-emp>
<app-rxjsops></app-rxjsops> -->
<router-outlet></router-outlet>
